img.ltxhtml { vertical-align : middle }
.keyword { font-weight : bold ; color : Red }
.keywordsign { color : #C04600 }
.comment { color : Green }
.constructor { color : Blue }
.type { color : #5C6585 }
.string { color : Maroon }
.warning { color : Red ; font-weight : bold }
.info { margin-left : 3em; margin-right: 3em }
.param_info { margin-top: 4px; margin-left : 3em; margin-right : 3em }
.code { color : #465F91 ; }
.typetable { border-style : hidden }
.paramstable { border-style : hidden ; padding: 5pt 5pt}
tr { }
td.typefieldcomment { font-size: smaller ;}
div.sig_block {margin-left: 2em}
*:target { background: yellow; }
body {
  font: 10pt sans-serif;
  color: black;
  text-align: left;
  padding: 5px;
  margin: 1.375em 5%;
  min-width: 40ex;
  max-width: 100ex;
  background-color: White;
}
h1 {
  font-size : 1.5em;
  text-align: left;
  margin-top: 0.5em;
  padding-top: 0.8em;
  margin-bottom: 1.0em;
  padding-bottom: 0.0em;
  border-top-style:solid;
  border-width:1px;
  border-color:#AAA;
}
h2 {
  font-size : 1.3em;
  text-align: left;
  margin-top: 0.5em;
  padding-top: 0.8em;
  margin-bottom: 1.0em;
  padding-bottom: 0.0em;
  border-top-style:solid;
  border-width:1px;
  border-color:#AAA;
}
h3 {
  font-size : 1.2em;
  text-align: left;
  margin-top: 0.5em;
  padding-top: 0.8em;
  margin-bottom: 1.0em;
  padding-bottom: 0.0em;
  font-style: italic;
  font-weight: normal
}
a {color: #416DFF; text-decoration: none}
a:hover {background-color: #ddd; text-decoration: underline}
pre 
{
  font-family: monospace;
}
pre.verbatim, pre.codepre {
  padding: 1.0em;
  padding-right: 1.0em;
  background-color:#F8F8F8;
}
.indextable {
  border: 1px #ddd solid;
  border-collapse: collapse;
  font-size: 1.0em;
}
.indextable td, .indextable th {border: 1px #ddd solid; min-width: 80px}
.indextable td.module {background-color: #eee ;  padding-left: 2px; padding-right: 2px}
.indextable td.module a {color: #4E6272; text-decoration: none; display: block; width: 100%}
.indextable td.module a:hover {text-decoration: underline; background-color: transparent}
.deprecated {color: #888; font-style: italic}
.indextable tr td div.info { margin-left: 2px; margin-right: 2px }
ul.indexlist { margin-left: 0; padding-left: 0;}
ul.indexlist li { list-style-type: none ; margin-left: 0; padding-left: 0; }
ul.info-attributes {list-style: none; margin: 0; padding: 0; }
div.info > p:first-child { margin-top:0; }
div.info-desc > p:first-child { margin-top:0; margin-bottom:0; }
